<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<style>body {background-image: none; background-color: cadetblue; } 
	h1{font-family: 'Amatic SC', cursive; font-size: 70px; }
	h2{font-family: 'Amatic SC', cursive; font-size: 40px; display: inline;}
	</style>

 

<div class="about">
<h1>About Us</h1>

<p> The purpose of this application is to help remember great moments in your life.</p>


<h1>History</h1>

<p> This project was originally started when Aziz was discussing old moments in his life with colleagues.  He was looking for a way to have a locally hosted repository of all the great memories and for a way to share them with his friends. While Facebook allowed some degree of this functionality, the constant changing landscape of the Facebook UI has helped to discourage posting of new events. A suite that could be easily deployed over multiple servers as well as hosted on the internet was also a requirement. </p>


<h1>Initial Phase</h1>

<p> The project was initially modeled out using AngularJS 1.5 and utilizing a PHP backend with a MariaDB database. Unfortunetly multiple issues occured in the initial design and protoyping that necesated considering other frameworks. </p>

<h1>Moving to Rails</h1>

<p> While evaluating different frameworks, care was taken to ensure that the chosen framework met the requirements and had the ability to reasonably expand to new requirements in the future. Emphasis was also placed on how easily the project could get up and running so more time would be spent using the product instead of debugging issues.</p>

<h1>Looking Forward</h1>

<p> There are multiple enhancements in the pipeline for MemoryFriends: </p>
<br>
<ol><li>One forward looking goal of this project is to integrate the functionality of TimeTracker(A project meant for tracking hours over the course of a day) and AzizDo(A project meant to track your tasks to be completed) into MemoryFriends so you can look back on the great work you did alongside you memories. The eventual goal is that map out your life in great detail so you know exactly where all the time has gone. </li> 
<li>Another enhancement is to improve performance when many memories are placed on the sheet. We wish to exapand upon the design as more data is added. </li> 
<li>We will like to investigate and evaluate more complex frameworks like Elixir and the Phoenix Framework. </li> 
</ol>
</div>
