<div class="landing">


<div class="container">
<div class="row text-center">
<div class="jumbotron front-title">
<h1> Memory Friends </h1>
<h3> Save and share all your greatest moments</h3>
<h2> So you never forget the moments that matter </h2>
<%= link_to "Create Your Free Account", new_user_registration_path, class: "btn btn-primary btn-lg" %>

</div>
</div>
</div>
</div>